/**
 * @name PureBlack
 * @author YSSF
 * @authorId 926605635213226044
 * @version 1.0.2
 * @description Makes discord darker
 * @source https://github.com/YSSF8/Discord-PureBlack
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

:root {
	--background-primary: #000;
	--background-secondary: #000;
	--background-secondary-alt: #000;
	--channeltextarea-background: #18191c;
	--background-tertiary: #000;
	--modal-background: #000;
	--modal-footer-background: #000;
	--brand-experiment: #18191c;
	--brand-experiment-500: #18191c;
	--brand-experiment-400: #18191c;
	--background-modifier-selected: #21232699;
	--font-primary: 'Nunito', sans-serif;
    --font-display: var(--font-primary);
}

button:hover {
	background: #202122 !important;
}

.header-1c1AhF, .templatesList-uohY49, .theme-light .footerSeparator-VzAYwb, .subtitle-3m-md1, .title-1_TkpU, .defaultColor-HXu-5n, .container-x8Y1ix {
	color: #fff !important;
	background: #000;
}

.text-PdAsFQ, .closeIcon-11LhXr {
	color: #fff;
}

.footerButton-24QPis, .container-2nx-BQ, .input-2XRLou, .bd-button, .bd-switch-body {
	background: #18191c !important;
}

div[style="position: absolute; flex-direction: column; backface-visibility: hidden; width: 440px; transform: translate3d(0px, -50%, 0px) scale(1, 1); top: 50%; left: auto; right: auto;"], .theme-dark .pageWrapper-2PwDoS, .theme-dark .container-2cd8Mz, .container-ZMc96U.themed-Hp1KC_, .lookFilled-yCfaCM.colorPrimary-2AuQVo, .colorable-3rVGna.primaryDark-2UJt1G, .section-2zQkYM, .wrapper-1gVUIN.minimum-fXpVNc, .colorDefault-CDqZdO:hover {
	background: #000;
}

div[style="position: absolute; flex-direction: column; backface-visibility: hidden; width: 440px; transform: translate3d(0px, -50%, 0px) scale(1, 1); top: 50%; left: auto; right: auto;"] {
	border-radius: 8px;
}

.searchTitle-1qceKb, .userInfoSectionHeader-2mYYun, .eyebrow-Ejf06y, .lookLink-15mFoz:hover, .rtcConnectionStatusLabel-Nodt6L:hover {
	background: none !important;
}

.colorable-3rVGna.white-11auuQ {
	filter: invert(1);
}

.slash-2yrR11 {
	color: #12bdba !important;
}

.section-2zQkYM, .messagesPopoutWrap-3zryHW, .theme-dark .root-g14mjS, .container-2ebMPP {
	border-radius: 8px;
	box-shadow: 0 0 4px #fff;
}

.colorable-3rVGna.white-11auuQ:hover {
	background: #e7e6e3 !important;
}

.colorable-3rVGna.primaryDark-2UJt1G:hover, .colorable-3rVGna.red-3T8maV:hover {
	background: #18191c !important;
}

.homeIcon-r0w4ny path {
	fill: transparent;
}

.homeIcon-r0w4ny {
	background: url('https://github.com/YSSF8/Discord-PureBlack/raw/main/icon.png') center/cover no-repeat;
	min-width: 50px;
	min-height: 50px;
}

.theme-dark .checkbox-f1HnKB {
	transition: .3s !important;
}