/**
 * @name PureBlack
 * @author YSSF (𝒟𝒜𝑅𝒦-𝒮𝐼𝒟𝐸 ✘!#4318)
 * @authorId 926605635213226044
 * @version 1.1.4
 * @description Makes discord darker, and rounded
 * @source https://github.com/YSSF8/Discord-PureBlack
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

:root {
	--background-primary: #000;
	--background-secondary: #000;
	--background-secondary-alt: #000;
	--channeltextarea-background: #18191c;
	--background-tertiary: #000;
	--modal-background: #000;
	--modal-footer-background: #000;
	--brand-experiment: #18191c;
	--brand-experiment-500: #18191c;
	--brand-experiment-400: #18191c;
	--background-modifier-selected: #21232699;
	--font-primary: 'Nunito', sans-serif;
}

.lookFilled-yCfaCM.colorGreen-3y-Z79, .applicationInstallButton-1-58qm, .option-2eIyOn:hover, button:hover {
	background: #202122 !important;
}

.lookFilled-yCfaCM.colorGreen-3y-Z79:hover, .applicationInstallButton-1-58qm:hover {
	background: #18191c !important;
}

.header-1c1AhF, .templatesList-uohY49, .theme-light .footerSeparator-VzAYwb, .subtitle-3m-md1, .title-1_TkpU, .defaultColor-HXu-5n, .container-x8Y1ix, .lookInverted-2mDUMi.colorBrand-I6CyqQ {
	color: #fff !important;
	background: #000;
}

.text-PdAsFQ, .closeIcon-11LhXr, .icon-2xnN2Y, .colorDefault-CDqZdO .checkbox-hADx5o, .colorDefault-CDqZdO .radioSelection-1UHp0b, .icon-18rqoe {
	color: #fff !important;
}

.footerButton-24QPis, .container-2nx-BQ, .input-2XRLou, .bd-button, .bd-switch-body, .upload-vLbqu-, .uploadContainer-TCg-Ji, .inner-2pOSmK, .bd-select-options, .bd-search-wrapper, .searchBar-3TnChZ .searchBarComponent-3N7dCG, .layout-Zs52SM, .option-2eIyOn, .inner-1NoIT5, .searchBar-jGtisZ, .lookFilled-yCfaCM.colorBrandNew-2-gGsS, .lookFilled-yCfaCM.colorBrand-I6CyqQ:active, .colorable-3rVGna.primaryDark-2UJt1G:hover, #bd-pub-button:hover, .colorable-3rVGna.red-3T8maV:hover, .textarea-_59yqs:focus {
	background: #18191c !important;
}

.search-25t1e9 .searchBox-31Zv9h .searchBoxInput-3h4etz {
	font-weight: bold;
	/* background: #18191c;
	color: #fff; "#cc6f00" */
}

.search-25t1e9 .searchBox-31Zv9h .searchBoxInput-3h4etz::selection {
	color: #000;
	background: #cc6f00;
}

.search-25t1e9, .check-3HZJs4 {
	filter: invert(1);
}

div[style="position: absolute; flex-direction: column; backface-visibility: hidden; width: 440px; transform: translate3d(0px, -50%, 0px) scale(1, 1); top: 50%; left: auto; right: auto;"], .theme-dark .pageWrapper-2PwDoS, .theme-dark .container-2cd8Mz, .container-ZMc96U.themed-Hp1KC_, .lookFilled-yCfaCM.colorPrimary-2AuQVo, .colorable-3rVGna.primaryDark-2UJt1G, .section-2zQkYM, .wrapper-1gVUIN.minimum-fXpVNc, .theme-dark .message-G6O-Wv, .theme-dark .addGamePopout-2SKNIV, .theme-dark .elevationHigh-3KUiqj, .scroller-1bVxF5, .autocompleteInner-y1mjDl, .noiseCancellationPopout-2-e5Xz, .theme-dark .popoutList-10IFAa, .rowContainer-3t7486, .scroller-Q9d9Di, .theme-dark.authBox-1HR6Ha, .navRow-dG-XX8, .bd-select .bd-select-options, .theme-dark .quickSelectPopout-2F0PXw, .jumpToPresentBar-1cEnH0, .newMessagesBar-1hF-9G, .bodyInnerWrapper-2bQs1k, .userPopout-2j1gM4, .footer-3naVBw, .wrapper-1NNaWG, .colorDefault-CDqZdO:hover {
	background: #000 !important;
}

div[style="position: absolute; flex-direction: column; backface-visibility: hidden; width: 440px; transform: translate3d(0px, -50%, 0px) scale(1, 1); top: 50%; left: auto; right: auto;"], div[style="position: relative;width: 440px;height: 558px;overflow: hidden;"], .scroller-Q9d9Di, .header-1zd7se, .theme-dark.authBox-1HR6Ha, .navRow-dG-XX8, .barButtonMain-2GIx4o:hover, .span-3lFnWr:hover, .barButtonAlt-TQoCdZ:hover {
	border-radius: 8px;
}

.barButtonMain-2GIx4o:hover, .span-3lFnWr:hover, .barButtonAlt-TQoCdZ:hover {
	background: #000 !important;
}

.layout-Zs52SM {
	border-radius: 3px;
}

.searchTitle-1qceKb, .userInfoSectionHeader-2mYYun, .eyebrow-Ejf06y, .hero-1aNo0v .heroHeader-1A0uOZ, .defaultColor-24IHKz, .promoHeader-3Rd7PI, .trialOfferCopyHeading-9ABI7M, .lookLink-15mFoz:hover, .rtcConnectionStatusLabel-Nodt6L:hover {
	background: none !important;
}

.colorable-3rVGna.white-11auuQ {
	filter: invert(1);
}

.slash-2yrR11 {
	color: #12bdba !important;
}

.section-2zQkYM, .messagesPopoutWrap-3zryHW, .theme-dark .root-g14mjS, .container-2ebMPP, .floating-window.resizable, .quickswitcher-pKcM9U, .theme-dark .addGamePopout-2SKNIV, .drawerSizingWrapper-1txdWG, .theme-dark .elevationHigh-3KUiqj, .scroller-1bVxF5, .autocompleteAttached-bt_md-, .noiseCancellationPopout-2-e5Xz, .theme-dark .popoutList-10IFAa, .bd-select .bd-select-options, .theme-dark .quickSelectPopout-2F0PXw, .jumpToPresentBar-1cEnH0, .newMessagesBar-1hF-9G, .menu-2-eHMB, .userPopout-2j1gM4, .outerWrapper-3UdjNj {
	border-radius: 8px;
	box-shadow: 0 0 3.5px #fff;
}

.colorable-3rVGna.white-11auuQ:hover {
	background: #e7e6e3 !important;
}

.rowContainer-3t7486 {
	border: 1px solid #191c1f;
}

.defaultColor-24IHKz.text-xs-normal-3SiVjE.rowText-3MQqQi, .text-md-normal-304U3g.subtitle-1cc8Nz, .text-sm-normal-3Zj3Iv.skip-2hTIXL, .text-md-normal-304U3g.subtitle-bIoUVX, .text-xs-normal-3SiVjE.guidelines-FvqqF2, .optionHeader-27AHfD {
	color: #bbb !important;
}

svg[viewBox="0 0 12 12"] {
	border-radius: 8px;
}

.lookInverted-2mDUMi.colorBrand-I6CyqQ:active {
	background: #000;
}

.theme-dark .footerSeparator-VzAYwb {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.input-2g-os5 {
	background: #18191c;
	color: #fff;
}

.sendIcon-1HcEzu {
	color: #b8b8b8;
}

circle[fill="#5865f2"] {
	fill: #18191c;
}

.icon-1KCy88 {
	filter: grayscale(1);
}

.theme-dark .keybindShortcut-3zF1P9 .key-N5VmHN {
	transition: .2s;
	background: #18191c;
}

.homeIcon-r0w4ny path {
	fill: transparent;
}

.homeIcon-r0w4ny {
	background: url('https://github.com/YSSF8/Discord-PureBlack/raw/main/icon.png') center/cover no-repeat;
	min-width: 50px;
	min-height: 50px;
}

.theme-dark .checkbox-f1HnKB, .note-3M15gE textarea {
	transition: .3s !important;
}